# Project exclude paths
/.gradle/
/build/
/quran-api/build/
/quran-api/build/classes/kotlin/desktop/main/
/quran-api/build/classes/kotlin/iosArm64/main/klib/
/quran-api/build/classes/kotlin/iosSimulatorArm64/main/klib/
/quran-api/build/classes/kotlin/iosX64/main/klib/
/quran-api/build/classes/kotlin/js/main/
/quran-core/build/
/quran-core/build/classes/kotlin/desktop/main/
/quran-core/build/classes/kotlin/iosArm64/main/klib/
/quran-core/build/classes/kotlin/iosSimulatorArm64/main/klib/
/quran-core/build/classes/kotlin/iosX64/main/klib/
/quran-core/build/classes/kotlin/js/main/
/quran-search/build/
/quran-search/build/classes/kotlin/desktop/main/
/quran-search/build/classes/kotlin/iosArm64/main/klib/
/quran-search/build/classes/kotlin/iosSimulatorArm64/main/klib/
/quran-search/build/classes/kotlin/iosX64/main/klib/
/quran-search/build/classes/kotlin/js/main/
/quran-translations/build/
/quran-translations/build/classes/kotlin/desktop/main/
/quran-translations/build/classes/kotlin/iosArm64/main/klib/
/quran-translations/build/classes/kotlin/iosSimulatorArm64/main/klib/
/quran-translations/build/classes/kotlin/iosX64/main/klib/
/quran-translations/build/classes/kotlin/js/main/
/quran-transliteration/build/
/quran-transliteration/build/classes/kotlin/desktop/main/
/quran-transliteration/build/classes/kotlin/iosArm64/main/klib/
/quran-transliteration/build/classes/kotlin/iosSimulatorArm64/main/klib/
/quran-transliteration/build/classes/kotlin/iosX64/main/klib/
/quran-transliteration/build/classes/kotlin/js/main/